* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 46.5px;
    background: #000;
}

#nav {
    display: flex;
}

#nav li {
    list-style: none;
    padding: 12px 24px;
}

#nav li a {
    color: #fff;
    text-decoration: none;

}

#nav li:hover > a {
    color: black;
    background: #ccc;
}